parameters:
	ignoreErrors:
		-
			message: "#^Cannot access property \\$id on App\\\\Models\\\\Category\\|null\\.$#"
			count: 1
			path: app/Http/Controllers/Home/ArticleController.php

		-
			message: "#^Cannot access property \\$id on App\\\\Models\\\\Article\\|null\\.$#"
			count: 1
			path: app/Http/Resources/Comment.php

		-
			message: "#^Cannot access property \\$id on App\\\\Models\\\\SocialiteUser\\|null\\.$#"
			count: 1
			path: app/Http/Resources/Comment.php

		-
			message: "#^Cannot access property \\$name on App\\\\Models\\\\SocialiteUser\\|null\\.$#"
			count: 1
			path: app/Http/Resources/Comment.php

		-
			message: "#^Cannot access property \\$title on App\\\\Models\\\\Article\\|null\\.$#"
			count: 1
			path: app/Http/Resources/Comment.php

		-
			message: "#^Cannot access property \\$icon on App\\\\Models\\\\SocialiteClient\\|null\\.$#"
			count: 1
			path: app/Http/Resources/SocialiteUser.php

		-
			message: "#^Cannot access property \\$id on App\\\\Models\\\\SocialiteClient\\|null\\.$#"
			count: 1
			path: app/Http/Resources/SocialiteUser.php

		-
			message: "#^Cannot access property \\$name on App\\\\Models\\\\SocialiteClient\\|null\\.$#"
			count: 1
			path: app/Http/Resources/SocialiteUser.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: app/Models/Base.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Comment\\:\\:\\$parent_id\\.$#"
			count: 2
			path: app/Models/Observers/CommentObserver.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Comment\\|Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<App\\\\Models\\\\Comment\\>\\:\\:\\$socialiteUser\\.$#"
			count: 1
			path: app/Models/Observers/CommentObserver.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Comment\\|Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<App\\\\Models\\\\Comment\\>\\:\\:\\$socialite_user_id\\.$#"
			count: 1
			path: app/Models/Observers/CommentObserver.php

